/*
  Centers the body which contains the p5 canvas towards the center.
*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Displays the p5 canvas with a slight top margin and with
  a border on the bottom and the sides.
*/
canvas {
  display: block;
  margin-top: 3vw;
  border-radius: 3vw;
  border-bottom: black double 0.8vw;
  border-left: black double 0.8vw;
  border-right: black double 0.8vw;
}
